.about {
    min-height: fit-content;
    position: relative;
  }
  
  .about .line-styling {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .about .line-styling .style-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .about .line-styling .style-line {
    width: 95%;
    height: 5px;
    border-radius: 10px;
  }
  
  .about-body {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 8rem;
    height: fit-content;
  }
  
  .about-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 0.5;
    width: 100%;
    height: fit-content;
  }
  
  .about-description > h2 {
    margin-bottom: 40px;
    font-size: 3rem;
    font-family: var(--primaryFont);
    text-align: center; /* 中央揃え */
    width: 100%; /* 幅を100%にして中央揃えを適用 */
  }
  
  .about-description > p {
    font-size: 1.5rem;
    color: #e0d9d9;
    font-family: var(--primaryFont);
  }
  
  .about-animation {
    pointer-events: none;
    display: flex;
    flex-basis: 30%;
    justify-content: center;
  }

  .about-animation img {
    max-width: 60%; /* 親要素を超えない */
    height: auto; /* 縦横比を維持 */
    object-fit: contain; /* 画像を適切に収める */
    border-radius: 35px;  
}

.gameMainVideo {
    margin-top: 5rem; /* 上の要素との間隔を空ける */
    display: flex;
    justify-content: center; /* 中央揃え */
    width: 130%;
}

.gameMainVideo iframe {
  width: 80vw; /* ビューポートの80%を使う */
  height: 45vw; /* 16:9 のアスペクト比を維持 */
  max-width: 1000px; /* 最大サイズを制限 */
  max-height: 562px; /* 16:9の比率を維持 */
  border-radius: 30px;  
}

.gameDetail {
  margin-top: 5rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  /* gap: 3%; */
}

.gameDetailVideo {
  width: 60%;
  display: flex;
  justify-content: center;
  width: 40%; /* 横幅いっぱいに */
  padding: 5px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
}

.gameDetailVideo iframe {
  width: 20vw; /* 縦型動画の幅 */
  height: 53vw; /* 9:16 の比率 (1.77倍) */
  max-width: 270px; /* 最大幅を制限 */
  max-height: 480px; /* 最大高さを調整 */
  border-radius: 15px;
}

.gameDetailContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%; 
  min-width: 700px;
  min-height: 300px;
  background-color: rgba(253, 172, 0, 1);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  /* margin-top: -40px; 動画と少し重なるように */
}

.gameDetailContent h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.gameDetailTitle h2 {
  margin-bottom: 10px; /* Add space below the title */
  position: relative;
  text-align: center;
  font-family: var(--primaryFont);
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--primaryColor); /* カスタマイズ可能なタイトル色 */
}

.gameDetailTitle h2::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Position the line below the title */
  left: 0;
  width: 100%;
  height: 2px; /* Line thickness */
  background-color: white; /* Line color */
}

.gameDetailContent .gameDescription {
  font-size: 1.5rem;
  white-space: pre-line; /* 改行を反映 */
}


  @media (min-width: 992px) and (max-width: 1380px) {
    .about-description > h2 {
      font-size: 3.3rem;
      margin-bottom: 30px;
    }
    .about-description > p {
      font-size: 1.15rem;
    }
  
    .about-img > img {
      width: 300px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .about .line-styling {
      top: 20px;
    }
  
    .about-body {
      padding-top: 2rem;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .about-description {
      flex: 0.6;
      box-sizing: border-box;
      padding: 20px;
    }
  
    .about-description > h2 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  
    .about-description > p {
      font-size: 1.1rem;
    }
  
    .about-img > img {
      width: 250px;
      flex: 0.4;
    }
  }
  
  @media screen and (max-width: 800px) {
    .about .line-styling .style-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    .about-description > h2 {
      align-self: center;
    }
  }
  
  @media screen and (max-width: 600px) {
    .about .line-styling .style-circle {
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
    .about .line-styling .style-line {
      width: 93%;
      height: 3px;
      border-radius: 10px;
    }
  
    .about-description > h2 {
      font-size: 2.5rem;
    }
  
    .about-description > p {
      font-size: 0.95rem;
    }
  
    .about-img > img {
      width: 200px;
    }
  }
  

  @media screen and (max-width: 768px) {
    .gameDetail {
      flex-direction: column; /* 縦並び */
      align-items: center;
      text-align: center;
    }
  
    .gameDetailContent {
      width: 90%; /* 横幅を縮める */
      min-width: auto; /* 最小幅を解除 */
      min-height: auto;
      padding: 15px;
    }
  
    .gameDetailVideo {
      width: 90%; /* 画面いっぱいに */
    }
  
    .gameDetailVideo iframe {
      height: 88vw; /* 9:16 の比率で高さ調整 */
      max-width: 400px; /* 最大幅 */
      max-height: 480px; /* 最大高さ */
      border-radius: 15px;
      width: 100%;
      height: auto;
      aspect-ratio: 9 / 16;
    }
  
    .gameDetailContent h2 {
      font-size: 2rem; /* フォントサイズを小さく */
    }
  
    .gameDetailContent .gameDescription {
      font-size: 1.2rem; /* 説明文のサイズを調整 */
    }
  }